<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ethereum smart contracts</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
</head>

<body>
    <!-- Zaglavlje -->
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <img th:src="@{images/ethereum.svg}" id="ethLogo">
        <h5 class="my-0 mr-md-auto font-weight-normal">Ethereum - Smart contracts</h5>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/balance">Check Ether balance</a>
            <a class="p-2 text-dark" href="/transfer">Transfer Ether</a>
            <a class="p-2 text-dark" href="/contract">Deploy a smart contract</a>
        </nav>
        <a class="btn btn-outline-primary" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Log out</a>
    </header>

    <!-- Naslov stranice-->
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Address</h1>
        <p class="lead" th:text="${ethAddress.address}"/>
    </div>

    <!-- Glavni sadržaj -->
    <div class="container" id="main">
        <section class="text-center mb-4">
            <h1 class="display-4">Balance</h1>
            <p class="lead" th:text="|${ethAddress.ether} ether|"/>
            
            <h5>More information at:</h5>
            <a th:href="|https://rinkeby.etherscan.io/address/${ethAddress.address}|">Etherscan</a>
        </section>

        <section class="text-center" id="links">
            <h4>Options</h4>
            <a href="/balance">Check balance of another account</a>
            <a href="/transfer">Transfer Ether</a>
            <a href="/contract">Deploy a smart contract</a>
        </section>
    </div>

    <!-- FOOTER -->
    <footer class="container-fluid">
        <hr>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 Jakov Magazin</p>
    </footer>

    <!-- Bootstrap dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>

</html>