<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ethereum smart contracts</title>

    <!-- Bootstrap core CSS -->
    <link href="./assets/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./assets/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Zaglavlje -->
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <img src="assets/images/ethereum.svg" id="ethLogo">
        <h5 class="my-0 mr-md-auto font-weight-normal">Ethereum - Smart contracts</h5>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="javascript:void(0)">Transfer Ether</a>
            <a class="p-2 text-dark" href="javascript:void(0)">Deploy a smart contract</a>
        </nav>
        <a class="btn btn-outline-primary" href="https://getbootstrap.com/docs/4.1/examples/pricing/#">Log out</a>
    </header>

    <!-- Naslov stranice-->
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Ether transfer</h1>
        <p class="lead">Make transfers to an account</p>
    </div>

    <!-- Glavni sadržaj -->
    <main class="container">
        <form class="row">
            <section id="from" class="col-12 col-md border rounded my-2 p-4">
                <h5 class="display-4">From</h5>
                <div class="form-group border-none">
                    <h5>Wallet</h5>
                    <input type="file" id="keystore" placeholder="Select your wallet file">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your keystore with anyone else.</small>
                </div>
                <div class="form-group">
                    <h5>Password</h5>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </section>

            <section id="to" class="col-12 col-md border rounded my-2 p-4">
                <h5 class="display-4">To</h5>
                <div class="form-group">
                    <h5>Address:</h5>
                    <input type="text" name="dest" id="dest" class="form-control"
                        placeholder="Enter destination address here">
                </div>
            </section>

            <section class="col-12 border rounded p-4 my-4">
                <h4 class="text-center">How much Ether would you like to transfer?</h4>
                <div class="row">
                    <div id="etherDiv" class="col-6 col-md">
                        <label for="ether">Ether</label>
                        <input type="number" name="ether" id="ether" class="form-control"
                            placeholder="Ether">
                    </div>

                    <div id="szaboDiv" class="col-6 col-md">
                        <label for="szabo">Szabo (10<sup>-6</sup> Ether)</label>
                        <input type="number" name="szabo" id="szabo" class="form-control"
                            placeholder="Szabo">
                    </div>

                    <div id="mweiDiv" class="col-6 col-md">
                        <label for="mwei">Mwei (10<sup>-12</sup> Ether)</label>
                        <input type="number" name="mwei " id="mwei " class="form-control col"
                            placeholder="Mwei">
                    </div>
                    
                    <div id="weiDiv" class="col-6 col-md">
                        <label for="wei">Wei (10<sup>-18</sup> Ether)</label>
                        <input type="number" name="wei" id="wei" class="form-control col"
                            placeholder="Wei">
                    </div>
                </div>
            </section>

            <button type="submit" class="btn btn-primary mx-auto">Execute transaction</button>
        </form>
    </main>

    <!-- FOOTER -->
    <footer class="container-fluid">
        <hr>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 Jakov Magazin</p>
    </footer>

    <!-- Bootstrap dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
         crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>